@import '../variables';

.airportsModal {
  position: relative;
  width: 90%;
  margin: 0 5%;

  .scrollDown {
    position: fixed;
    width: 100;

    .airportsTitle {
      width: 79vw;
      border-bottom: none;
      background-color: $darkColor;
      padding: 2vmin;
      margin-top: -2vmin;
    }

    .thead {
      position: fixed;
      width: 78.4%;
      font-weight: bold;
      background-color: black;
      font-size: 2.4vmin;
      border-radius: 5px;

      .info {
        border-radius: 5px;
        color: $primaryColor;
        border: none;
        font-size: 2.5vmin;
      }

      &:hover {
        background-color: black !important;
        cursor: auto !important;
      }
    }

    .thead,
    .row {
      display: flex;
      justify-content: center;
      align-items: center;
      transition-duration: .4s;


      &.activeAirport,
      &.activeFlight {
        background-color: $primaryColor;
      }

      &:hover {
        cursor: pointer;
        background-color: $primaryColor;
      }
    }
  }

  .clearFloat {
    margin-bottom: 15vmin;
    width: 100%;
    height: 5vmin;
  }

  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .4s;


    &.activeAirport,
    &.activeFlight {
      background-color: $primaryColor;
    }

    &:hover {
      cursor: pointer;
      background-color: $primaryColor;
    }

  }

  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: $fontColor;
    text-align: center;
    height: 10vmin;
    border-radius: 5px;
    margin: 1px;
    font-size: 1.8vmin;
    font-family: $textFont;

    .error {
      font-weight: bold;
      color: $supportColor;
    }

    a {
      color: $secondaryColor;
      text-decoration: none;
      transition-duration: .4s;

      &:hover {
        cursor: pointer;
        color: $secondaryColor;
        font-size: 4vmin;
      }
    }
  }

  .row:nth-child(odd) {
    border-radius: 5px;
    background-color: darken($darkColor, 5%);
    transition-duration: .4s;

    &.activeAirport {
      background-color: $primaryColor;
    }

    &:hover {
      cursor: pointer;
      background-color: $primaryColor;
    }

  }

  .selectPage {
    text-align: center;
    margin: 2vmin 50vmin;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 4vmin;
    color: $primaryColor;
    font-weight: bold;
    font-family: $logoFont;

    .change {
      transition-duration: .4s;

      &:hover {
        cursor: pointer;
        color: $secondaryColor;
        transform: scale(1.2);
      }
    }
  }
}