@import '../variables';

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    transition-duration: 0.4s;
    z-index: 10;

    .modal {
        position: relative;
        width: 90%;
        height: 80vh;
        background-color: $darkColor;
        border-radius: 2vmin;
        border: 2px solid $darkColor;
        padding: 2vmin;
        overflow-y: scroll;
        overflow-x: hidden;

        h2 {
            font-size: 6vmin;
            font-family: $logoFont;
            color: $secondaryColor;
            text-shadow: 1px 1px 1px $darkColor;
            text-align: center;
            border-bottom: 2px solid $secondaryColor;
        }

        .timezone {
            .select {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 2vmin;

                select {
                    border-radius: 2vmin;
                    text-align: center;
                    width: 50%;
                    height: 5vh;
                    color: $darkColor;
                    font-weight: bold;
                    font-size: 4vmin;
                }
            }

            .countries {
                display: flex;
                flex-direction: column;

                h3 {
                    text-align: center;
                    font-family: $textFont;
                    font-size: 4vmin;
                    color: $primaryColor;
                    margin: 2vmin;
                }

                .noDST,
                .withDST {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-evenly;

                    .location {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        span {
                            font-size: 1.5vmin;
                            margin: 1vmin;
                            color: $primaryColor
                        }
                    }

                    .noLocations {
                        font-size: 4vmin;
                        color: $secondaryColor;
                    }
                }
            }
        }

        .airports {
            h2 {
                position: fixed;
                text-align: center;
                border-bottom: none;
                width: 88%;
                padding: 2vmin;
                background-color: $darkColor;
                margin-top: -2vmin;
            }

            .data {
                width: 90%;
                margin: 0 5%;

                .thead {
                    position: fixed;
                    width: 78.4%;
                    margin-top: 9vmin;
                }

                .thead,
                .row {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition-duration: .4s;


                    &.activeAirport {
                        background-color: $primaryColor;
                    }

                    &:hover {
                        cursor: pointer;
                        background-color: $primaryColor;
                    }
                }

                .cell {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex: 1;
                    color: $fontColor;
                    text-align: center;
                    height: 10vmin;
                    border-radius: 5px;
                    margin: 1px;
                    font-size: 1.8vmin;
                    font-family: $textFont;

                    .error {
                        font-weight: bold;
                        color: $supportColor;
                    }

                    a {
                        color: $secondaryColor;
                        text-decoration: none;
                        transition-duration: .4s;

                        &:hover {
                            cursor: pointer;
                            color: $secondaryColor;
                            font-size: 4vmin;
                        }
                    }
                }

                .thead {
                    font-weight: bold;
                    background-color: black !important;
                    font-size: 2.4vmin;
                    border-radius: 5px;
                }

                .info {
                    border-radius: 5px;
                    color: $primaryColor;
                    border: none;
                    font-size: 2.5vmin;
                }

                .row:nth-child(2) {
                    margin-top: 5.5%;
                }

                .row:nth-child(odd) {
                    border-radius: 5px;
                    background-color: darken($darkColor, 5%);
                    transition-duration: .4s;

                    &.activeAirport {
                        background-color: $primaryColor;
                    }

                    &:hover {
                        cursor: pointer;
                        background-color: $primaryColor;
                    }

                }
            }

            .selectPage {
                text-align: center;
                margin: 2vmin 50vmin;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                font-size: 4vmin;
                color: $primaryColor;
                font-weight: bold;
                font-family: $logoFont;

                .change {
                    transition-duration: .4s;

                    &:hover {
                        cursor: pointer;
                        color: $secondaryColor;
                        transform: scale(1.2);
                    }
                }
            }
        }
    }

    .icon {
        font-size: 2.5vmin;
        font-weight: bold;
        position: fixed;
        right: 4vmin;
        top: 4vmin;
        width: 30px;
        height: 30px;
        color: $secondaryColor;
        background-color: $darkColor;
        border-radius: 50%;
        padding: 1vmin;
        border: 2px solid $secondaryColor;
        transition-duration: .4s;

        &:hover {
            cursor: pointer;
            color: $darkColor;
            background-color: $secondaryColor;
        }
    }
}