@import './../variables';

.stats {
    position: absolute;
    top: 14vh;
    left: 2vw;
    bottom: 7vh;
    width: 30vw;
    background-color: rgba($color: #1AA782, $alpha: .8);
    font-size: 3vmin;
    padding: 0 1vmin;
    border-radius: 1vmin;
    border: .3vmin solid $darkColor;
    z-index: 10;

    h3 {
        text-align: center;
        font-family: $logoFont;
        padding: 1vmin;
        font-size: 5vmin;
    }

    .btnsWrapper {
        display: flex;
        width: 100%;
        justify-content: center;

        button {
            padding: 2vmin;
            border: none;
            border-radius: 2px;
            text-align: center;
            font-size: 2vmin;
            font-family: $logoFont;
            background-color: $darkColor;
            transition-duration: .4s;
            color: $primaryColor;
            margin: .5vmin 0;

            &:hover {
                cursor: pointer;
                background-color: $secondaryColor;
                color: $darkColor;
                letter-spacing: 1px;
            }
        }

    }

    .error {
        font-weight: bold;
        color: $supportColor;
    }

    .stat {
        margin: 1rem 0;

        a {
            color: $darkColor;
            text-decoration: none;
            transition-duration: .4s;

            &:hover {
                cursor: pointer;
                color: $secondaryColor;
            }
        }
    }
}